.listTitle {
    text-align: center;
    padding: 4%;
    position: relative;
    right: 2vw;
    font-weight: 900;
    font-size: 6ch;
}

.p-1 {
    padding-top: 10px;
    padding-bottom: 15px;
}

.hrLine {
    width: 10%;
    padding: 1px;
    background-color: rgb(248, 24, 24);
    position: relative;
    bottom: 80px;
}

.hrLineTwo {
    width: 10%;
    padding: 1px;
    background-color: rgb(248, 24, 24);
    position: relative;
    bottom: 320px;
    right: 1vw;
}

.hrLineThree {
    width: 10%;
    padding: 1px;
    background-color: red;
    position: relative;
    bottom: 410px;
    right: 29vw;
}

.maintianceHR {
    width: 10%;
    padding: 1px;
    background-color: red;
    position: relative;
    bottom: 490px;
    left: 1vw;
}

.parOne {
    text-align: justify;
    margin-left: 20vw;
    margin-right: 45vw;
    position: relative;
    bottom: 70px;
    left: 220px;
    padding-bottom: 80px;
}

.tecSupportImg {
    display: flex;
    width: 28%;
    height: auto;
    position: relative;
    bottom: px;
    left: 10vw;
}

.listTitleTwo {
    text-align: center;
    position: relative;
    bottom: 320px;
    font-weight: 600;
}

.paragraphOne {
    text-align: justify;
    margin-left: 40vw;
    margin-right: 20vw;
    position: relative;
    bottom: 300px;
}

.l-1 {
    position: relative;
    left: 39vw;
    bottom: 280px;
}

.l-2 {
    position: relative;
    bottom: 360px;
    left: 10vw;
}

.l-3 {
    position: relative;
    bottom: 455px;
    left: 41vw;
}

.webDevelopmentImg {
    width: 30%;
    height: auto;
    position: relative;
    bottom: 110px;
    left: 42vw;
}

.webTitle {
    position: relative;
    bottom: 420px;
    left: 15vw;
    font-weight: 600;
}

.sentanceWeb {
    text-align: justify;
    margin-left: 30vw;
    margin-right: 45vw;
    position: relative;
    bottom: 390px;
    right: 19vw;
}

.webMaintianceImg {
    width: 30%;
    height: auto;
    position: relative;
    bottom: 180px;
    left: 9vw;
}

.webMaintianceTitle {
    text-align: center;
    position: relative;
    bottom: 500px;
    left: 7vw;
}

.maintianceSentace {
    text-align: justify;
    margin-left: 30vw;
    margin-right: 40vw;
    position: relative;
    bottom: 480px;
    left: 12vw;
}

@media screen and (max-width:1440px) {
    .listTitle {
        position: relative;
        bottom: 15px;
        padding-left: 12vw;
        margin-top: 50px;
    }
    .webTitle {
        margin-left: -100px;
    }
    .l-2 {
        position: relative;
        bottom: 370px;
    }
}

@media screen and (max-width:1024px) {
    .p-1 {
        display: flexbox;
        position: relative;
        bottom: 20px;
        font-size: smaller;
        padding-bottom: 40px;
        padding-top: 50px;
    }
    .listTitle {
        font-size: 5ex;
        position: relative;
        bottom: 30px;
        left: 2vw;
    }
    .hrLine {
        position: relative;
        bottom: 68px;
        left: 6vw;
    }
    .parOne {
        padding-top: 15px;
    }
    .tecSupportImg {
        width: 30%;
        height: auto;
        position: relative;
        bottom: 70px;
        left: 50px;
    }
    .listTitleTwo {
        position: relative;
        left: 6vw;
    }
    .hrLineTwo {
        position: relative;
        left: 5vw;
    }
    .p-2 {
        font-size: smaller;
    }
    .webTitle {
        font-size: 3.4ex;
        position: relative;
        right: 2vw;
        padding-left: 5vw;
    }
    .hrLineThree {
        width: 8%;
        position: relative;
        right: 25vw;
    }
    .sentanceWeb {
        font-size: smaller;
    }
    .webDevelopmentImg {
        width: 30%;
        height: auto;
        position: relative;
        bottom: 160px;
    }
    .webMaintianceImg {
        width: 25%;
        height: auto;
    }
    .l-1 {
        position: relative;
        bottom: 300px;
        padding-bottom: 15px;
    }
    .l-2 {
        white-space: nowrap;
        font-size: small;
        padding-bottom: 60px;
    }
    .webMaintianceTitle {
        white-space: nowrap;
        font-size: 3.4ex;
        padding-right: 10vw;
        padding-bottom: 10px;
    }
    .maintianceSentace {
        font-size: small;
    }
    .l-3 {
        white-space: nowrap;
        font-size: small;
    }
    .webMaintianceImg {
        padding-bottom: 50px;
        width: 30%;
        height: auto;
    }
}

@media screen and (max-width:640px) {
    .parOne {
        position: relative;
        left: 130px;
        padding-top: 10px;
        margin-left: 10px;
    }
    .listTitleTwo {
        padding-top: 50px;
    }
    .paragraphOne {
        margin-left: 10px;
        margin-top: 120px;
        position: relative;
        left: 70px;
    }
    .tecSupportImg {
        position: relative;
        bottom: 75px;
        width: 40%;
        margin-left: 110px;
    }
    .hrLineTwo {
        position: relative;
        bottom: 335px;
    }
    .l-1 {
        margin-right: 10px;
        padding-left: 10px;
        padding-bottom: 100px;
        padding-top: 25px;
    }
    .webTitle {
        margin-left: 10px;
        position: relative;
        bottom: 480px;
    }
    .hrLineThree {
        position: relative;
        bottom: 490px;
        left: 15px;
    }
    .sentanceWeb {
        margin-left: 15px;
        margin-right: 70px;
        position: relative;
        left: 50px;
        padding-top: 40px;
    }
    .webDevelopmentImg {
        position: relative;
        top: -290px;
        margin-left: -55px;
        width: 40%;
    }
    .l-2 {
        margin-left: 110px;
        padding-bottom: 40px;
    }
    .maintianceHR {
        position: relative;
        bottom: 520px;
    }
    .maintianceSentace {
        margin-left: 15px;
        margin-right: 80px;
        position: relative;
        left: 50px;
        padding-top: 130px;
    }
    .webMaintianceImg {
        width: 45%;
        position: relative;
        bottom: 250px;
        margin-left: 80px;
    }
    .l-3 {
        margin-left: -70px;
    }
}