.bcolor {
    display: flex;
    position: relative;
    top: 40px;
    background-color: aqua;
    padding-bottom: 25%;
}

.facebook {
    position: relative;
    bottom: 200px;
    left: 40vw;
    background-color: black;
}

.linkedin {
    position: relative;
    bottom: 200px;
    left: 45vw;
    background-color: black
}

a:-webkit-any-link {
    color: darkgray;
}

@media screen and (max-width:1440px) {
    .bcolor {
        padding-bottom: 22%;
    }
    .facebook,
    .linkedin {
        position: relative;
        bottom: 150px;
    }
}

@media screen and (max-width:1024px) {
    .bcolor {
        padding-bottom: 20%;
    }
    .facebook,
    .linkedin {
        position: relative;
        bottom: 90px;
        width: 4%;
    }
}

@media screen and (max-width:600px) {
    .facebook,
    .linkedin {
        position: relative;
        bottom: 28px;
        width: 10%;
    }
}